<div class="container">
  <h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>
  <p><%= @flat.number_of_guest %></p>
  <p><%= @flat.number_of_guest %></p>

</div>
